<?xml version="1.0"?>
<launch>

  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>
  
  <!--- Run gmapping -->
  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
    <param name="delta" value="0.01"/>
    <param name="xmin" value="-20"/>
    <param name="xmax" value="20"/>
    <param name="ymin" value="-20"/>
    <param name="ymax" value="20"/>
    <remap from="scan" to="kernel/scan"/>
    <param name="base_frame" value="base_link" />
    <rosparam command="load" file="$(find husky_navigation)/config/gmapping_params.yaml" />
  </node>


</launch>
